<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="915Fujiy.CET-TransitoAgora" Version="1.2.0.10" Publisher="CN=9FAEAAEF-74D6-4DD5-B2FB-B5C397EFD3E4" />
  <Properties>
    <DisplayName>CET - Transito Agora</DisplayName>
    <PublisherDisplayName>Fujiy</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="CET - Transito Agora" Description="CET - Transito Agora" ForegroundText="light" BackgroundColor="#464646" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:LockScreen Notification="badgeAndTileText" BadgeLogo="images\BadgeLogo.png" />
        <m2:DefaultTile Square310x310Logo="images\logo310.png" Wide310x150Logo="images\logo310-150.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" BackgroundColor="#FFFFFF" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="js\background.js">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>